

body{
  background-color: #191E23;
  padding:30px;
  font-family: 'Nunito', sans-serif;
  padding-top:22px;
}

 .navbar {
  min-height: 80px;
  background-image: none;
  /* background-color: red; */
  padding-left:0px;
  padding-right:0px;
  padding-top:0px;
}


.navbar-brand {
  padding: 20px 15px;
  height: 80px;
  line-height: 80px;

}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(63,193,201,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #3FC1C9;
  border-width: 2px;
}

.navbar-custom {
    background-color: #191E23;
    margin-bottom: 30px;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.mx-auto {
 /* margin-right: auto !important;
 margin-left: auto !important; */
 font-size:26px;
 margin-bottom: 0px;
}

.job-title{
  font-size:14px;
  margin-top:-5px;
}

.navbar-nav {
    width: 100%;
    text-align: center;
    > li {
        float: none;
        display: inline-block;
    }
}

.card-body{
  background-color: rgba(0,0,0,0.6);
}

.card-text .text-muted{
  color:white;
}


/* p{
  color: white;
} */

h2{
  color: white;
  font-size:20px;
  text-align: center;
  margin-top: 25px;
  margin-bottom:26px;
}

a{
  color: #3FC1C9;
}
